{% extends "PlatformBundle::layout.html.twig" %}
{% trans_default_domain 'PlatformBundle' %}

{% block body_content %}
    <div class="container">

        {{ form_start(loanSearchForm, {"attr": {"id": "platform_loan_search"}}) }}
            {{ form_widget(loanSearchForm.query) }}
        {{ form_end(loanSearchForm) }}

        {{ form_start(investmentForm, {"attr": {"class": "form-inline form-platform", "id": "platform_investment"}}) }}
            <p>{{ 'loan.list.available_for_investments'|trans }}: {{ app.user.availableForInvestments }}</p>

            {{ form_errors(investmentForm) }}

            {{ form_errors(investmentForm.amount) }}
            <div class="input-group control-invest">
                {{ form_widget(investmentForm.amount, {"attr": {"class": "form-control"}}) }}
                <span class="input-group-btn">
                    <button class="btn btn-default">{{ 'loan.list.invest'|trans }}</button>
                </span>
            </div>

            {{ form_errors(investmentForm.loanSearchQuery) }}
            <div class="input-group control-loan-search">
                {{ form_widget(investmentForm.loanSearchQuery,
                    {"attr": {"class": "form-control", "placeholder": 'loan.list.search_placeholder'}}) }}
            </div>

            <br/>
            <br/>

            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>{{ 'loan.list.id'|trans }}</th>
                    <th>{{ 'loan.list.amount'|trans }}</th>
                    <th>{{ 'loan.list.available_for_investments'|trans }}</th>
                    <th>{{ 'loan.list.description'|trans }}</th>
                    <th>{{ 'loan.list.invest'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="placeholder">
                        <td colspan="5">
                            <span class="nothing">{{ 'loan.list.nothing'|trans }}</span>
                            <span class="loading">{{ 'loan.list.loading'|trans }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            {% do investmentForm.plainLoanId.setRendered %}

        {{ form_end(investmentForm) }}

    </div>
{% endblock %}

{% block footer_js %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            LoanListApp.init();
        });
    </script>
{% endblock %}